header{
    height: 100px;
    padding: 10px;
    background-color: #3939c8;
    color: white;
    font-size: 60px;
    text-align: center;
}
body{
    background-color: #aaaaff;
}

 @media(max-width:920px)
{
    .conater{
        flex-direction: column;
        height: auto;
        gap:20px;
    }


     footer {
        font-size: 40px;
        padding: 15px;
    }

    .kep {
        width: 200px;
        height: auto;
    }
}


footer{

    min-height: 100px;
    padding: 20px;
    background-color: #193968;
    color: white;
    border-top: 1px solid white;
    font-size: 64px;
    text-align: center;
}

.kep{
    width: 250px;
    height: auto;
}


.conater{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
} */
.conater
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 150px;
    background-color: #aaaaff;
}
@media (max-width: 920px)
{
    .conater
    {
        display: flex;
        justify-content: space-evenly;
        height: auto;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
    }
    .kep
    {
        height: 100px;
        width: 100px;
    }
}

footer{

    height: 150px;
    padding: 20px;
    background-color: #193968;
    color: white;
    border-top: 1px solid white;
    font-size: 110px;
    text-align: center;
}
